.orange {
    background-color: black;
  }
  .orange2 {
    border-radius: 10%;
    width: 5%;
  }
  
  .orange3 {
    border-radius: 1%;
    width: 1330px;
    height: 700px;
  }
  .orange2andhalf {
    color: aqua;
    text-align: center;
  }