
.flexmonkey{
  display: flex;
}

.king{
  background-color: none;
}

.navegador {
  background-image: linear-gradient(purple, #caceb6) !important; 
  width: 99%;
  grid-area: navegador;
}

.main-imagen {
  grid-area: main-imagen;
}


.footer {
  grid-area: footer;
}


.main-imagen {

    align-items: center;
}

@keyframes aparecer {
   0% {opacity: 100%}
   25% {opacity: 75%}
   50% {opacity: 50%}
   75% {opacity: 25%}
   100% {opacity: 0%}
}

.beta{
  animation-name: aparecer;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



#main {
  border-radius: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beta {
  border-radius: 70%;
  width: 113px;
  height: 87px;
}

.menu li {
  display: inline-block;
  position: relative;
  padding: 10px 10px;
}
.menu li a {
  text-decoration: none;
  font-family: fantasy;
  font-size: xx-large;
}
.menu li:hover .submenu {
  display: block;
}
.submenu {
  display: none;
  position: absolute;
}
.submenu li {
  display: block;
  background-color: #320d6d;
  border: solid;
  border-color: #136f63;
}


.navegador {
    display: flex;
    border: solid;
    border-color: #320d6d;
    margin: 10px 10px 10px 10px;
    padding: 10px;

    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: row;
}

.edward {
  color: purple;
 
}

.edward2 {
  color: purple;
 
}

.edward3{
  color: purple;

}

.submenu li {
  list-style-type: lower-greek;
}

.charly li {
  text-decoration: none;
  text-align: center;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.duff1 {

  border-radius: 1%;
  width: 850px;
  height: 600px;
}


.jhonnie {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
}

.king {
  text-align: center;
}
.london {
  background-color: black;
}

.londond2 {
  border-radius: 10%;
  width: 10%;
}
#monkey {
  color: aqua;
  text-align: center;
  font-size: x-large;
}

#monkey2 {
  color: yellowgreen;
  text-align: center;
  font-size: x-large;
}

#monkey3 {
  color: goldenrod;
  text-align: center;
  font-size: x-large;
}
#monkey4 {
  color: blueviolet;
  text-align: center;
  font-size: x-large;
}
#monkey5 {
  color: orangered;
  text-align: center;
  font-size: x-large;
}
ul {
  list-style-type: none;
}

.nuts {
  background-color: black;
}
.nuts2 {
  border-radius: 10%;
  width: 5%;
}
.i1 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i2 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i3 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i4 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i5 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i6 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i7 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i8 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i9 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i10 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i11 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i12 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i13 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i14 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i15 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i16 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i17 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i18 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i19 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i21 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}

.i22 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}

.i23 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i24 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i25 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i26 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i27 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i28 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i29 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i30 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.orange {
  background-color: black;
}
.orange2 {
  border-radius: 10%;
  width: 5%;
}

.orange3 {
  border-radius: 1%;
  width: 1330px;
  height: 700px;
}
.pudding {
  background-color: black;
}
.pudding2 {
  border-radius: 10%;
  width: 5%;
}
.pudding3 {
  color: greenyellow;
}
#sektor {
  border-radius: 1%;
  width: 1335px;
  height: 700px;
}
.orange2andhalf {
  color: aqua;
  text-align: center;
}
.londond3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  text-align: center;
}

.robert {
  background-color: black;
}
.cyrax {
  border-radius: 10%;
  width: 5%;
}
.smoke {
  color: chartreuse;
  text-align: center;
}

.ashe {
  border-radius: 100%;
  width: 15%;
}
.ashe2 {
  border-radius: 100%;
  width: 15%;
}
.ashe3 {
  border-radius: 100%;
  width: 15%;
}
@media screen and (max-width: 480px) {
    .navegador{
      
        width: 100% !important;
    text-align: center;
    display: flex;
    }
    .menu{
        display: grid;
    }
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .edward2 {
    background-image: none;
    color: #b9d2b1;
  }
  .edward {
    background-image: none;
    color: #b9d2b1;
  }
  /* .navegador {
    background-color: aqua;
    width: 80%;
    height: 364px;
    text-align: center;
  } */


  .alpha {
    background-color: #f0386b !important;
  }
}
 
@media screen and (max-width: 1200px) {


  .container{
    grid-template-columns: auto !important;
  }

  .alpha {
    background-color: #590925;
   grid-template-columns:3 3fr;
   grid-template-rows: 4 repeat(0.5);
   grid-template-areas: 
   "navegador navegador navegador"
   "main-imagen main-imagen main-imagen"
   "products products aside"
   "footer footer footer";

  }

  .king{
      grid-area: footer;
  }

  .products{
      grid-area: products;
  }


  .edward2 {
    background-image: none;
    color: #73956f;
  }
  
}

@media screen and (min-width: 1024px) {
a {
    background-color:none !important;
} 
 }

 .will{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
 }


.contactflexo{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
}
.local4{
  width: 992px;
  height: 424px;
}
.local3{
  width: 878px;
  height: 424px;
}

.local1{
  width: 200 ;
  height: 200 ;
}
.local2{
  width: 1270px ;
  height: 449px ;
}

.flexmonkey{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexmonkey2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

.flexmonkey3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around

}

.flexmonkey4{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around

}

.flexmonkey5{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

