/* .container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.2fr 1.6fr 0.8fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navegador navegador navegador navegador"
    "main-imagen main-imagen main-imagen main-imagen"
    "products products aside aside"
    "footer footer footer footer";
} */

.king{
  background-color: #d90429;
}

.navegador {
  width: 100%;
  grid-area: navegador;
}

.main-imagen {
  grid-area: main-imagen;
}

.products {
  grid-area: products;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

.alpha {
  background-color:#1A535C;
}

.main-imagen {
    /* margin: 16px 16px 16px 266px; */
    align-items: center;
}

.navegador{
  background-image: linear-gradient(red, rgb(202, 206, 182));
}

.imagenproducto{
transform: translate(-21px, 80px);
}

.propaganda{
  transform: translate(410px);
}

.iframe{
  transform: translate(240px);
}

@keyframes aparecer {
   0% {opacity: 100%}
   25% {opacity: 75%}
   50% {opacity: 50%}
   75% {opacity: 25%}
   100% {opacity: 0%}
}

.beta{
  animation-name: aparecer;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.products {
  margin: auto;
  padding: 5px;
  border: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.imagenproducto {
  border-radius: 1%;
  width: 270px;
  height: 450;
}

.propaganda {
  margin: 0px 5px 5px 10px;
  border-radius: 1%;
  width: 284px;
  height: 450px;
}

#main {
  border-radius: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beta {
  border-radius: 70%;
  width: 113px;
  height: 87px;
}

.menu li {
  display: inline-block;
  position: relative;
  padding: 10px 10px;
}
.menu li a {
  text-decoration: none;
  font-family: fantasy;
  font-size: xx-large;
}

.submenu {
  display: none;
  position: absolute;
}
.submenu li {
  display: block;
  background-color: #320d6d;
  border: solid;
  border-color: #136f63;
}
.menu li:hover .submenu {
  display: block;
}
.navegador {
    display: flex;
    border: solid;
    border-color: #320d6d;
    margin: 10px 10px 10px 10px;
    padding: 10px;

    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: row;
}

.edward {
  color: purple;
  /* background-image: url(images/fondo-negro-purpura-estrellas.jpg); */
}

.edward2 {
  color: purple;
  /* background-image: url(images/fondo-negro-purpura-estrellas.jpg); */
}

.edward3{
  color: purple;
  /* background-image: url(images/fondo-negro-purpura-estrellas.jpg); */
}

.submenu li {
  list-style-type: lower-greek;
}

.charly li {
  text-decoration: none;
  text-align: center;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.duff1 {

  border-radius: 1%;
  width: 850px;
  height: 600px;
}

.imagen-producto {
  border-radius: 1%;
  width: 275px;
  height: 450px;
}

.products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-end;

}

.jhonnie {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
}

.king {
  text-align: center;
}
.london {
  background-color: black;
}

.londond2 {
  border-radius: 10%;
  width: 10%;
}
.monkey {
  color: aqua;
  text-align: center;
  font-size: x-large;
}

.monkey2 {
  color: yellowgreen;
  text-align: center;
  font-size: x-large;
}

.monkey3 {
  color: goldenrod;
  text-align: center;
  font-size: x-large;
}
.monkey4 {
  color: blueviolet;
  text-align: center;
  font-size: x-large;
}
.monkey5 {
  color: orangered;
  text-align: center;
  font-size: x-large;
}
ul {
  list-style-type: none;
}

.nuts {
  background-color: black;
}
.nuts2 {
  border-radius: 10%;
  width: 5%;
}
.i1 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i2 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i3 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i4 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i5 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i6 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i7 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i8 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i9 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i10 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i11 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i12 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i13 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i14 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i15 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i16 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i17 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i18 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i19 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i21 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}

.i22 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}

.i23 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i24 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i25 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i26 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i27 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i28 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i29 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.i30 {
  border-radius: 1%;
  width: 662px;
  height: 400px;
}
.orange {
  background-color: black;
}
.orange2 {
  border-radius: 10%;
  width: 5%;
}

.orange3 {
  border-radius: 1%;
  width: 1330px;
  height: 700px;
}
.pudding {
  background-color: black;
}
.pudding2 {
  border-radius: 10%;
  width: 5%;
}
.pudding3 {
  color: greenyellow;
}
#sektor {
  border-radius: 1%;
  width: 1330px;
  height: 700px;
}
.orange2andhalf {
  color: aqua;
  text-align: center;
}
.londond3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  text-align: center;
}

.robert {
  background-color: black;
}
.cyrax {
  border-radius: 10%;
  width: 5%;
}
.smoke {
  color: chartreuse;
  text-align: center;
}

.ashe {
  border-radius: 100%;
  width: 15%;
}
.ashe2 {
  border-radius: 100%;
  width: 15%;
}
.ashe3 {
  border-radius: 100%;
  width: 15%;
}
@media screen and (max-width: 480px) {
    .navegador{
        /* display: -webkit-box; */
        width: 100% !important;
    text-align: center;
    display: flex;
    }
    .menu{
        display: grid;
    }
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .edward2 {
    background-image: none;
    color: #b9d2b1;
  }
  .edward {
    background-image: none;
    color: #b9d2b1;
  }
  .navegador {
    background-color: aqua;
    width: 80%;
    height: 364px;
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.4fr 0.5fr 0.5fr 0.1fr;

    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navegador "
      "main-imagen"
      "products"
      "footer";
  }

  .alpha {
    background-color: #f0386b !important;
    grid-template-columns: 1 3fr;
  }
}
 
@media screen and (max-width: 1200px) {
  .main-imagen {
      grid-area: main-imagen;
    /* width: 700px; */
  }

  .container{
    grid-template-columns: auto !important;
  }

  .alpha {
    background-color: #590925;
   grid-template-columns:3 3fr;
   grid-template-rows: 4 repeat(0.5);
   grid-template-areas: 
   "navegador navegador navegador"
   "main-imagen main-imagen main-imagen"
   "products products aside"
   "footer footer footer";

  }


  .king{
      grid-area: footer;
  }

  .products{
      grid-area: products;
  }
  .navegador {
      grid-area: navegador;
    background-color: aqua;
    /* width: 102%;
    height: 70%; */
    text-align: center;
  }

  .edward {
    color: aqua;
    background-image: none;
  }

  .edward2 {
    background-image: none;
    color: #73956f;
  }

  

  
}


  
@media screen and (min-width: 1024px) {
  .navegador {
      background-color: aqua;
    width: 99%;
  }
  .alpha {
    background-color:black !important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "navegador navegador navegador ."
      "main-imagen main-imagen main-imagen ."
      "products products aside ."
      "footer footer . .";
  }
}
